
.responseColor{
	background-color:#BBBBBB;
}
.bolded{
	font-weight:bold;
}

.Background{
	background-color:#e7e5e4;
}

h1{
	font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-style:bold;
 	text-align: center;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility;
	color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}