{% load static %}

<!DOCTYPE html>
<html class="h-100">
	<head>
		<title>Status</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<link id = "stylelink" rel="stylesheet" type="text/css" href="{% static 'stylesheet2.css' %}">
		<script>
		 var theme1 = "{% static 'stylesheet.css'%}";
		 var theme2 = "{% static 'stylesheet2.css' %}";
		</script>
	</head>

	<body class="Background d-flex flex-column justify-content-center" id="body">
		<section class = "row my-5 container-fluid justify-content-center">
			<div class = "col container-fluid justify-content-center">
				<div class = "row"></div>
				<div class = "row">
					<style>
						.accordion {
						  background-color: #eee;
						  color: #444;
						  cursor: pointer;
						  padding: 18px;
						  width: 80%;
						  border: none;
						  text-align: left;
						  outline: none;
						  font-size: 15px;
						  transition: 0.4s;
						}

						.active, .accordion:hover {
						  background-color: #ccc;
						}

						.accordion:after {
						  content: '\002B';
						  color: #777;
						  font-weight: bold;
						  float: right;
						  margin-left: 5px;
						}

						.active:after {
						  content: "\2212";
						}

						.panel {
						  padding: 0 18px;
						  background-color: white;
						  max-height: 0;
						  overflow: hidden;
						  transition: max-height 0.2s ease-out;
						}
					</style>
					<h1 style="font-size:24px">More about the writer</h1>
					<button class ="accordion" >Current Activities</button>
						<div class="panel">
							<p>Student at Faculty of Computer Science Universitas Indonesia</p>
							<p>Part of Madah Bahana Universitas Indonesia</p>
							<p>Staff of MUC FUKI Fasilkom UI</p>
							<p>Structured as a commitee of several internal events at Fasilkom UI and Madah Bahana UI</p>
						</div>
					<button class ="accordion" >Past Organizational Activities</button>
						<div class="panel">
							<p>Structured as a commitee of SIWAK-NG 2019</p>
							<p>Structured as a commitee of MBUI 44 Inauguration</p>
							<p>Structured as a commitee of Open House Fasilkom UI 2018</p>
						</div>
					<button class ="accordion" >Achievements</button>
						<div class="panel">
							<p>Winner of IDCC 2019 for Sound Sport category</p>
							<p>Winner of BBC Thinking Skill 2016</p>
							<p>Finalist of English Story Telling competition(FLS2N) in 2014</p>
						</div>
					<script>
						var acc = document.getElementsByClassName("accordion");
						var i;

						for (i = 0; i < acc.length; i++) {
						  acc[i].addEventListener("click", function() {
						    this.classList.toggle("active");
						    var panel = this.nextElementSibling;
						    if (panel.style.maxHeight) {
						      panel.style.maxHeight = null;
						    } else {
						      panel.style.maxHeight = panel.scrollHeight + "px";
						    } 
						  });
						}
					</script>
				</div>
				<div class = "row"></div>
			</div>
			<div class="col container-fluid justify-content-center">
				<div class = "row container-fluid justify-content-center">
					<h1>Hello, How's your day?</h1>
				</div>
				<form method="POST">
					<div class = "row container-fluid justify-content-center">
						<div class="col container-fluid justify-content-center  mt-2 Forms bolded " id="form">
								{% csrf_token %}
								{% for e in formkosong %}
									<p class="w-75">{{ e.label }}: {{e}} </p>
								{% endfor %}
						</div>
						<div class ="col mt-3 ">
							<button type="submit" value="Submit" class="btn btn-primary m-2" id ="button">Share!</button>
						</div>
					</div>
				</form>
				<div class= "row container-fluid justify-content-center">
					<button class="btn btn-primary mr-5" id ="themebutton">Change Theme</button>
				</div>
			</div>
			<div class="col container-fluid justify-content-center">
				<br>
				<br>
				<h1 id="smalltext">Your personal portable Diary</h1>
			</div>
		</section>	
		<section class ="container-fluid text-center" >
			{% for x in isi %}
			<div class = "row responseColor mt-1">
				<div class = "col bolded">
					{{ x.isi }}
				</div> 
				<div class = "col">
					{{ x.dateAndTime }}
				</div>
			</div>
			{% endfor %}
		</section>
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>