
.responseColor{
  background-color:#ffd100;
}
.bolded{
  font-weight:bold;
}
.Background{
	background-color:#3B3B3B;
}

#form{
  color:#FBFCD4;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #FFB606;
    border-color: #B28228;
    color: black;
    font-weight: bold;
}

h1{
	font-family:"Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-style:bold;
	/*padding: 80px 50px;*/
 	text-align: center;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility;
	color: #131313;
    background-color: #3B3B3B;
    letter-spacing: .15em;
    color:#FFE002;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #B28228, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}
